/* 
*/
.title-user-selection {
  display: flex;
  justify-content: center;
}

.types-of-users-images {
  display: flex;
  justify-content: center;
}

/*
INVEST MONEY SECTION START  
*/

#header-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font: Karla;
  weight: 700;
}

#button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-section button {
  margin-bottom: 10px;
}

/*
INVEST MONEY SECTION END  
*/

.active {
  color: red;
}

.borrower-image {
  width: 200px; /* replace with your desired width */
}

.lender-image {
  width: 200px; /* replace with your desired width */
}
.bottom-section {
  display: flex;
  justify-content: center;
}
.user-selection-login {
  display: flex;
  justify-content: center;
}
